.links-juegos {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
.btn-primary {
    margin-top: auto; /* Empuja el botón hacia abajo */
  }
.card img {
    height: 250px;
    width: 250px;
}
.card-img-top {
    object-fit: contain;
  }
main li {
    list-style-type: none;
    padding: .5%;

}

.subtitulo {
    margin-inline: auto;
    width: 80%;
    text-align: center;
    padding: 1%;
}


a {
    text-decoration: none;
    color: black;
}

a:link, a:hover {
    text-decoration: none;
    color: black;
}

.juegos{
    flex: 1 0 30%;
    display: flex; 
    justify-content:space-between;
    width: 20rem;
    align-items: center;
    border: 2px solid rgb(104, 104, 104);
    border-radius: 25px;
    padding: 10px;
    margin: 0.25rem 0;
    margin-inline: auto;
}

.juegos:hover {
    background-color: #cacaca; 
}

.juegos p{
    padding: 5%;
    width: 200px;
}

.juegos img{
    border-radius: 5%;
    height: 100px;
}

main div a{
    width: 33%;
}

@media (max-width: 768px) {
    .links-juegos {
        flex-direction: column;
        align-items: center;
        margin-inline: auto;
        display: unset;
    }
}