#mesa {
    width: 600px;
    align-content: center;
    margin: auto;
    display: block;
}
#mesa img{
    height: 60px;
    width: 100px;
}
#mesa .memotest_cartas {
    list-style: none;
    float: left;
    margin: 20px 20px 20px 20px;
    border: solid 1px #999;
    width: 100px;
    height: 60px;
    display: block;
    cursor: pointer;
}
#mesa .memotest_fin_juego {
    font-size: 16px;
    text-align: center;
}
#mesa .memotest_jugar_de_nuevo {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
#mesa .memotest_jugar_de_nuevo {
    text-decoration: underline;
    font-size: 1rem;    
}

.clear {
    clear: both;
}

@media (max-width: 800px) {
    #mesa {
      width: 100%;
    }
  
    #mesa .cards-container { /* replace .cards-container with the actual class or id of the container */
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
    }
  
    #mesa img {
      height: 40px;
      width: 70px;
    }
  
    #mesa .memotest_cartas {
      margin: 10px;
      width: 70px;
      height: 40px;
    }
  }