h1 {
  text-align: center;
}

#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.letter-box {
  border: 2px solid gray;
  border-radius: 0.625rem;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.filled-box {
  border: 2px solid black;
}

.letter-row {
  display: flex;
}

#keyboard-cont {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyboard-cont div {
  display: flex;
}

.second-row {
  margin: 0.5rem 0;
}

.keyboard-button {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem;
  margin: 0 2px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.625rem;
}


#backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.75);
  z-index: 999;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}

#instrucciones-modal {
  position: fixed;
  background-color: #fefefe;
  padding: 2rem;
  padding-top: 1.2rem;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  display: grid;
  z-index: 1000;
  right: 5%;
  left: 5%;
  border-radius: 0.5rem;
}

#instrucciones-modal.invisible {
  display: none;
}

#modal-mensaje {
  position: fixed;
  background-color: #fefefe;
  padding: 2rem;
  padding-top: 1.2rem;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 1s;
  animation-fill-mode: forwards; 
  display: grid;
  z-index: 1000;
  right: 5%;
  left: 5%;
  border-radius: 0.5rem;
  display: none;
}

#modal-mensaje.visible {
  display: grid;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 116px; opacity: 1}
}

#instrucciones-modal h2 {
  text-align: center;
  color: #007ea7;
  padding-bottom: 0.625rem;
}

#instrucciones-modal li {
  list-style: url('../../img/car-front-fill.svg');
  padding-bottom: 0.125rem;
  margin: 0 1.25rem;
}

#instrucciones-modal ul {
  padding: 1.25rem 0;
}

#btn-jugar {
  border-radius: 0.5rem;
  border: 2px solid black;
}

.verde {
  color: green;
  font-weight: bold;
}

.boton-instrucciones {
  border-radius: 0.625rem;
  padding: 0.625rem;
  display: inline;
}

@media (max-width: 768px) {

  .letter-box {
    border: 2px solid gray;
    border-radius: 0.625rem;
    margin: 2px;
    font-size: 1.5rem;
    font-weight: 700;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }

}

.titulo-juego {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.titulo-juego h1 {
  margin-bottom: 0;
  color: #007ea7;
  text-align: center;
}

.titulo-juego button {
  height: 2rem;
  width: 2rem;
  border-radius: 0.5rem;
  border: 2px solid black;
  margin-left: 1.25rem;
}

.titulo-juego button:hover {
  border: 2px solid black;
  background-color: black;
  color: white;
}